@charset "UTF-8";

/* 
    Em HTML é id e em CSS é # (só pode um elemento)
    Em HTML é class e em CSS é . (podem vários elementos)
*/

body{
    background-color: #6790ce;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #214f95;
}

#principal{
    text-align: center;
    background-color: #214f95;
    color: white;
}

h2{
    color: #2b4060;
}

.basico{
    color: rgba(0, 128, 0, 0.501);
}
.intermediario{
    color: rgba(255, 255, 0, 0.503);
}
.avancado{
    color: rgba(255, 0, 0, 0.499);
}